.logo-container {
    position: absolute;
    top: 50%;
    right: 40px;  /* Adjust the right side margin */
    transform: translateY(-50%);  /* Center vertically */
    width: 350px;   /* Adjust container width to fit circle */
    height: 350px;  /* Adjust container height to fit circle */
    text-align: center;
  }
  
  .solid-logo {
    position: absolute;
    width: 350px;   /* Make the image fill the circle */
    height: 305px;  /* Make the image fill the circle */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Center the image inside the circle */
    opacity: 0;
    object-fit: contain;
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;  /* Circle size */
    height: 350px; /* Circle size */
    border-radius: 50%;  /* Make the shape a circle */
    border: 5px solid red;  /* Border around the circle */
    background-color: transparent;
    opacity: 0.5;
    transform: translate(-50%, -50%);  /* Center the circle */
    margin-right: 20px;  /* Add some right margin to move circle away from the image */
    
  }
  